# Copy to qa/env/booking-performance-v1.env and fill local test values.
DB_URL=
DB_USERNAME=
DB_PW=
TEST_DB_URL=
TEST_DB_USERNAME=
TEST_DB_PW=
REDIS_HOST=redis
REDIS_PORT=6379
JWT_KEY=
MAIL_USERNAME=
MAIL_PASSWORD=
TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
TOMCAT_THREADS_MAX=200
HIKARI_MAXIMUM_POOL_SIZE=100
STATION_FARE_FILENAME=
TRAIN_SCHEDULE_FILENAME=
